.table-results{
    width: 50%;
    margin: auto;
    margin-bottom: 10rem;
}

.dino-button{
    background-color: #42915F;
    border-color: #42915F;
}

.dino-button:hover{
    background-color: #83B461;
    //background-color: #42915F;
    border-color: #42915F;
}

.dino-button:active{
    //background-color: #42915F;
    background-color: #83B461;
    border-color: #42915F;
    outline: #006E5E !important;
    box-shadow:  0 0 0 5px rgba(0, 110, 94, 0.2) !important;
}


.dino-button:focus{
    //background-color: #42915F;
    background-color: #83B461;
    border-color: #42915F;
    outline: #006E5E 10px !important;
    box-shadow:  0 0 0 5px rgba(0, 110, 94, 0.2) !important;
}

.status-container{
    border: solid #006E5E;
    max-width: 40em;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.header-text{
    color: #006E5E;
}

.dino-container{
    margin-bottom: 10rem;
}

.dino-col{
    min-width: 16em;
    margin-top: 2em;

    @media (min-width: 768px) and (max-width: 991px) {
        margin-left: 3em;
        margin-right: 3em;
    }
}

.dino-card{
    min-width: 20em;
    align-self: center;
}

.dino-card:focus{
    background-color: #83B461;
    border-color: #42915F;
    outline: #006E5E 10px !important;
    box-shadow:  0 0 0 5px rgba(0, 110, 94, 0.2) !important;
}


.dino-card:active{
    background-color: #83B461;
    border-color: #42915F;
    outline: #006E5E 10px !important;
    box-shadow:  0 0 0 5px rgba(0, 110, 94, 0.2) !important;
}

.dino-card:hover{
    cursor: pointer;
    //background-color: #83B461;
    border-color: #42915F;
    box-shadow:  0 0 0 5px rgba(0, 110, 94, 0.2) !important;
}

.selected-dino{
    background-color: #83B461;
    border-color: #42915F;
    outline: #006E5E 10px !important;
    box-shadow:  0 0 0 5px rgba(0, 110, 94, 0.2) !important;
}

.not-selected{
    background-color: white;
}

