<div class="container">
  <div *ngIf="this.isLoading" class="container">
    <div class="text-center">
      <div *ngIf="this.isSessionActive !== undefined" class="spinner-border m-5 p-4" role="status">
      </div>
    </div>
  </div>
  <div *ngIf="!this.isLoading" class="container">
    <div class="container status-container mt-4">
      <p class="fs-5">{{this.statusText}}</p>
      <p class="fs-4">Number of players: {{this.playerCount}}</p>
      <!-- <p class="fs-2">Number of submitted votes {{this.numberOfSubmittedVotes}}</p> -->
      <p class="fs-4">{{this.numberOfSubmittedVotes}}/{{this.playerCount}} people have voted.</p>
      <p *ngIf="(this.playerCount != this.numberOfSubmittedVotes) && this.isSessionActive" class="fs-4">Voting in progress</p>
      <p *ngIf="this.playerCount == this.numberOfSubmittedVotes" class="fs-4">All players have voted.</p>
      <button class="btn btn-primary btn-lg dino-button" type="button" *ngIf="this.isOwner && this.isSessionActive" (click)="endVotingSession()">End Voting Session</button>
      <button class="btn btn-primary btn-lg dino-button" type="button" *ngIf="this.isOwner && !this.isSessionActive" (click)="resetVotes()">Reset Votes</button>
    </div>
    <p *ngIf="this.isSessionActive" class="fs-2 text-center mt-5 header-text">Select your vote for the current work item size:</p>
    <p *ngIf="!this.isSessionActive" class="fs-2 text-center mt-5 header-text">Session owner has ended voting.</p>
    <div class="parent-container">
      <div *ngIf="!this.isSessionActive" class="container">
        <p  class="fs-3 text-center mt-3">Results:</p>
  
        <table class="table table-bordered table-striped table-results">
          <thead>
            <tr>
              <th *ngIf="this.shouldDisplayCards" scope="col">Dino</th>
              <th scope="col">Point</th>
              <th scope="col">Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let voteItem of this.totalVotes">
              <img *ngIf="this.shouldDisplayCards" src="{{this.getImage(voteItem.point)}}">
              <th scope="row">{{voteItem.point}}</th>
              <td>{{voteItem.votes}}</td>
            </tr>
          </tbody>
        </table>
  
        <!-- <div *ngFor="let voteItem of this.totalVotes">
          <p class="fs-4">Point: {{voteItem.point}}, Votes: {{voteItem.votes}}</p>
        </div> -->
      </div>
    </div>
    
    <div *ngIf="this.isSessionActive && !this.shouldDisplayCards" class="container">
      <div  class="d-grid gap-2 col-6 mx-auto mb-3" *ngFor="let item of this.voteOptions">
        <button class="btn btn-primary btn-lg dino-button" *ngIf="!this.shouldDisplayCards" type="button" id="{{item.id}}" (click)="addVote(item.id)">{{item.id}}</button>

        <!-- <div *ngIf="this.shouldDisplayCards" class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{item.imagePath}}" alt="{{item.description}}">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
            -- <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> -->

        <!-- <button class="btn btn-primary" type="button" id="2">2</button>
        <button class="btn btn-primary" type="button" id="3">3</button>
        <button class="btn btn-primary" type="button" id="5">5</button>
        <button class="btn btn-primary" type="button" id="8">8</button>
        <button class="btn btn-primary" type="button" id="13">13</button> -->
      </div>
    </div>
    <div *ngIf="this.isSessionActive && this.shouldDisplayCards" class="container dino-container">
      <div class="row" >
        <div class="col m-5" *ngFor="let item of this.voteOptions">
          <div class="card d-flex flex-column dino-card" [ngClass]="item.id == this.selectedVote ? 'selected-dino' : 'not-selected'" type="button" style="max-width: 25rem; height: 25rem;" (click)="addVote(item.id)">
            <div class="container mt-auto" style="{{item.style}}">
              <img class="card-img-top" src="{{item.imagePath}}" alt="{{item.description}}">
            </div>
            <div class="mt-auto text-center m-5">
              <h5 class="card-title mt-4">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
    
    <!-- <button (click)="createNewSession()">Create new session</button> -->
<!-- <button (click)="joinSession('')">Join Session</button>
    <button (click)="addVote(5)">Add vote</button> -->
</div>
