.nav-menu{
    margin-left: 1em;
}

.agile-header{
    color: #006E5E !important;
    font-size: 2.25em;
}

.menu-header{
    color: black !important;
}

a:hover{
    color: #006E5E !important;
}

.dino-button{
    background-color: #A4C662;
}

.dino-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #1b1b1b;
    color: #fff;
    z-index: 10000;
    height: 44px;
}